/* Add your custom styles here */

html {
    box-sizing: border-box;
}

body {
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
    background-color: #f8f9fa;
    margin: 0;
}

table {
    width: 40%;
    border-collapse: collapse;
}

.bme680-table {
    margin-bottom: 100px;
}

.adxl362-table {
    margin-bottom: 100px;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}

h2 {
    text-align: center;
}
